<div data-ppid="2b653e87-131a-b855-8981-1f0cd5d8b527" class="row sectionBlockLayout text-left" style="display: flex; flex-wrap: wrap; margin: 0px; min-height: auto; padding: 8px;">
  <div data-ppid="193113c2-36d0-7a2b-0a4f-c25c7f87759b" class="container" style="display: flex; flex-wrap: wrap;">
    <div data-ppid="9ede3a29-96e9-8693-bba4-a3cb828d4bcf" class="col-md-12 columnBlockLayout" style="flex-grow: 1; display: flex; flex-direction: column; min-width: 250px; word-break: break-word; padding: 16px; margin: 60px 0px;">{% include 'entity_list' key: 'Active Marketing Lists' %}</div>

      
      
      <div>
        {% entityview logical_name:'list', name:'Active Outreach Lists' %}
        <p>We have {{ entityview.total_records }} subscription options.</p>
        <ul>
          {% for sub in entityview.records -%}
          <li>{{ sub.listname }}</li>
          {% endfor %}
        </ul>
        {% endentityview %}
      </div>
    

      <div>
        {% entityview logical_name:'list', name:'Active Outreach Lists' %}
        <p>We have {{ entityview.total_records }} subscription options.</p> 
        <select id="subscriptionMultiselect" multiple> 
          {% for sub in entityview.records %} 
            <option value="{{ sub.listname }}">{{ sub.listname }}</option> 
          {% endfor %} 
        </select> 
        <button id="showSelected">Show Selected</button> 
        {% endentityview %}
        

      </div>
    </div>

  </div>
</div>
